QWidget {
    font-size: 20px;
}

QPushButton {
    background-color: #C0C0C0;
    border-style: inset;
    border-width: 2px;
    border-color: #202020;
    padding: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

QPushButton:pressed {
    background-color: #808080;
    border-style: inset;
}

QPushButton:hover {
    background-color: red;
}
